<!DOCTYPE html>
<html lang="en">
<!--<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">-->
<script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<!--<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>-->
<link rel="stylesheet" href="__PUBLIC__/css/bootstrap.css">
<script src="__PUBLIC__/js/bootstrap.js"></script>
<!--<script src="__PUBLIC__/js/umd/boot3-tp.js"></script>-->
<link rel="stylesheet" href="__PUBLIC__/css/rateit.css">
<script src="__PUBLIC__/js/jquery.rateit.min.js"></script>
<link rel="Bookmark" href="__PUBLIC__/img/bitbug_favicon.ico">
<script src="//cdn.bootcss.com/highcharts/4.2.5/highcharts.js"></script>
<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>

<head>
    <meta charset="UTF-8">
    <title>product detail</title>
</head>
<body>
<div class="container">

    <div class="header well">
        <h4 style="color: #ddd">{$product.asin} <a href="http://www.amazon.com/dp/{$product.asin}" target="_blank">See product
            details</a></h4>

    </div>
    <div class="view-messages">


    </div>


    <div class="view-content">

        <ul class="nav nav-pills">
            {$product.iname}
        </ul>
        <div class="tab-content">
            <div class="section">

                <div class="section">
                    <div class="field control-group col-md-6 col-sm-12">
                        best sellers rank:
                        <div class="rateit" data-rateit-value="{$detail.best_sellers_rank}"
                             data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        <br>
                        sellers count:
                        <div class="rateit" data-rateit-value="{$detail.sellers_count}" data-rateit-ispreset="true"
                             data-rateit-readonly="true"></div>
                        <br>
                        Review count：
                        <div class="rateit" data-rateit-value="{$detail.review_count}" data-rateit-ispreset="true"
                             data-rateit-readonly="true"></div>
                        <br>
                        Best review:
                        <div class="rateit" data-rateit-value="{$detail.best_review}" data-rateit-ispreset="true"
                             data-rateit-readonly="true"></div>
                        <br/>
                        rank up or down:
                        <div class="rateit" data-rateit-value="{$detail.rank_up_down}" data-rateit-ispreset="true"
                             data-rateit-readonly="true"></div>
                        <br>

                        review up or down:
                        <div class="rateit" data-rateit-value="{$detail.review_up_down}" data-rateit-ispreset="true"
                             data-rateit-readonly="true"></div>
                        <br>
                        good review up or down：
                        <div class="rateit" data-rateit-value="{$detail.good_review_up_down}"
                             data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                        <br>


                    </div>
                    <div class="field control-group col-md-6 col-sm-12">
                        <img src="{$product.iimg_url}">
                    </div>

                </div>
                <!--<div class="zz">-->
                <!--<h3>Composite score MISSING</h3><h3>-->
                <!--<img src="/star/s4.png">-->
                <!--</h3>-->
                <!--<img src="/star/c.png" width="20" title="please notice copyright before sell">please notice copyright before sell-->
            </div>

            <div class="zz">
                <table class="table table-condensed table-bordered">
                    <tbody>
                    <tr>

                        <th>RANK</th>
                        <th>Price</th>
                        <th>Seller Count</th>
                        <th>Review Count</th>
                        <th>Categories</th>
                    </tr>

                    <tr>

                        <td class="muted">{$product.rank}</td>
                        <td class="muted">{$product.iprice}</td>
                        <td class="muted">
                            <a href="http://www.amazon.com/gp/offer-listing/{$product.asin}" target="_blank">{$product.sellers}</a>
                        </td>
                        <td class="muted"><a href="http://www.amazon.com/product-reviews/{$product.asin}"
                                             target="_blank">{$detail.review}</a></td>
                        <td class="muted">
                            <a href="{:U('TrendsAmazon/index',array('category'=>$product.icategory))}"
                               target="_blank">
                                {$product.icategory}
                            </a>
                        </td>

                    </tr>

                    </tbody>
                </table>

            </div>
        </div>


        <div id="ranktrends" style="height: 200px; margin-left:-20px;margin-right:-20px;padding-top:20px;"
             data-highcharts-chart="0">

        </div>

        <script>

            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'ranktrends',
                    type: 'line',
                    marginRight: 130,
                    marginBottom: 25
                },
                chart: {
                    renderTo: 'ranktrends',
                    type: 'line',
                    zoomType: 'xy'
                },
                title: {
                    text: 'best sellers rank trends'
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },

                subtitle: {
                    text: 'data comefrom：trendsamazon.com drog big，Reset zoom reset',

                },
                xAxis: {
                    categories: [{$time}]
                },
                yAxis: {
                    title: {
                        text: 'RANK(best sellers)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#0093dd'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                this.x + ': ' + this.y + '';
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 0,
                    y: 100,
                    borderWidth: 0
                },
                credits: {
                    enabled: true,
                    href: "http://trendsamazon.com",
                    text: "trendsamazon.com"
                },


                series: [{
                    name: 'rank',
                    data: [{$best_sellers_rank}]
                }]
            });


        </script>

        <div id="ranktrends1" style="height: 200px;  margin-left:-20px;margin-right:-20px;padding-top:20px;"
             data-highcharts-chart="1">
            <div class="highcharts-container" id="highcharts-4"
                 style="position: relative; overflow: hidden; width: 1074px; height: 200px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-size: 12px;">

            </div>
        </div>

        <script>

            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'ranktrends1',
                    type: 'line',
                    marginRight: 130,
                    marginBottom: 25
                },
                chart: {
                    renderTo: 'ranktrends1',
                    type: 'line',
                    zoomType: 'xy'
                },
                title: {
                    text: 'Price Trends'
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },

                subtitle: {
                    text: 'data comefrom：trendsamazon.com drog big，Reset zoom reset',

                },
                xAxis: {
                    categories: [{$time}]
                },
                yAxis: {
                    title: {
                        text: 'Price trends'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#0093dd'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                this.x + ': ' + this.y + '';
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 0,
                    y: 100,
                    borderWidth: 0
                },
                credits: {
                    enabled: true,
                    href: "http://trendsamazon.com",
                    text: "trendsamazon.com"
                },


                series: [{
                    name: 'Price',
                    data: [{$price}]
                }]
            });


        </script>

        <div id="ranktrends2" style="height: 200px; margin-left:-20px;margin-right:-20px;padding-top:20px;"
             data-highcharts-chart="2">
            <div class="highcharts-container" id="highcharts-8"
                 style="position: relative; overflow: hidden; width: 1074px; height: 200px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-size: 12px;">

            </div>
        </div>

        <script>

            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'ranktrends2',
                    type: 'line',
                    marginRight: 130,
                    marginBottom: 25
                },
                chart: {
                    renderTo: 'ranktrends2',
                    type: 'line',
                    zoomType: 'xy'
                },
                title: {
                    text: 'Sellers Count'
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },

                subtitle: {
                    text: 'data comefrom：trendsamazon.com drog big，Reset zoom reset',

                },
                xAxis: {
                    categories: [{$time}]
                },
                yAxis: {
                    title: {
                        text: 'Sellers Count'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#0093dd'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                this.x + ': ' + this.y + '';
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 0,
                    y: 100,
                    borderWidth: 0
                },
                credits: {
                    enabled: true,
                    href: "http://trendsamazon.com",
                    text: "trendsamazon.com"
                },


                series: [{
                    name: 'Sellers',
                    data: [{$sellers_count}]
                }]
            });


        </script>


        <div id="review" style="height: 200px;  margin-left:-20px;margin-right:-20px;padding-top:20px;"
             data-highcharts-chart="3">
            <div class="highcharts-container" id="highcharts-12"
                 style="position: relative; overflow: hidden; width: 1074px; height: 200px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-size: 12px;">

            </div>
        </div>

        <script>

            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'review',
                    type: 'line',
                    marginRight: 130,
                    marginBottom: 25
                },
                chart: {
                    renderTo: 'review',
                    type: 'line',
                    zoomType: 'xy'
                },
                title: {
                    text: 'Review Count'
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },

                subtitle: {
                    text: 'data comefrom：trendsamazon.com drog big，Reset zoom reset',

                },
                xAxis: {
                    categories:[{$time}]
                },
                yAxis: {
                    title: {
                        text: 'Review Count'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#0093dd'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                this.x + ': ' + this.y + '';
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 0,
                    y: 100,
                    borderWidth: 0
                },
                credits: {
                    enabled: true,
                    href: "http://trendsamazon.com",
                    text: "trendsamazon.com"
                },


                series: [{
                    name: 'Review',
                    data: [{$review_count}
                    ]
                }]
            });


        </script>


        <div id="45star" style="height: 200px; margin-left:-20px;margin-right:-20px;padding-top:20px;"
             data-highcharts-chart="4">
            <div class="highcharts-container" id="highcharts-16"
                 style="position: relative; overflow: hidden; width: 1074px; height: 200px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-size: 12px;">

            </div>
        </div>

        <script>

            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: '45star',
                    type: 'line',
                    marginRight: 130,
                    marginBottom: 25
                },
                chart: {
                    renderTo: '45star',
                    type: 'line',
                    zoomType: 'xy',
                },
                title: {
                    text: '4,5star good review Percentage',
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },

                subtitle: {
                    text: 'data comefrom：trendsamazon.com drog big，Reset zoom reset',

                },
                xAxis: {
                    categories: [{$time}]    },
                yAxis: {
                    title: {
                        text: '4,5star good review Percentage'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#FF4000'
                    }]
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                                this.x + ': ' + this.y + '';
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: 0,
                    y: 100,
                    borderWidth: 0
                },
                credits: {
                    enabled: true,
                    href: "http://trendsamazon.com",
                    text: "trendsamazon.com"
                },


                series: [{
                    name: '5star',
                    data: [
                        {$star5}]
                }, {

                    name: '4star',
                    data: [
                        {$star4}]
                }],


            });


        </script>




    </div>

</div>


</div>
</body>
</html>